body {
    background-color: #202123;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}

#user-config, #greeting-section, #ads {
    background-color: #38444D;
    padding: 20px;
    border-radius: 5px;
}

#user-config, #ads {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create-greeting form, #greeting-list ul {
    background-color: #37444d;
    padding: 20px;
    border-radius: 5px;
}

button {
    background-color: #1DA1F2;
    color: #FFFFFF;
}

#greeting-input {
    color: #000000;
    background-color: #ddd;
    width: 100%;
    margin-bottom: 10px;
}

#greeting-list ul {
    list-style-type: none;
    padding: 0;
}

#greeting-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

#greeting-list li:last-child {
    border-bottom: none;
}
